#wrap
  #info
  h1
    span.col osc4node
    span \ client-side demo
  
  #content
    .gui.config
      h2 Configurations
      .gui-group.server
        h3 [OSC Server]
        div port:
          input(type='text', value='11000').port.maxgui
        div host:
          input(type='text', value='localhost').host.maxgui
      
      .gui-group.client
        h3 [OSC Client]
        div port:
          input(type='text', value='12000').port.maxgui
        div host:
          input(type='text', value='localhost').host.maxgui
        
      input(type='button', id='submit', value='configure')
    
    .gui.send
      h2 Send
      #slider-demo.gui-group
        h3 [Send]
        input(type='range', min='0', max='127', value='0').slider.maxgui
        div address:
          input(type='text', name='addr', value='/node/slider').addr.maxgui
        div value:
          input(type='text', value='0', readonly).numbox.maxgui
        div output:
          input(type='text', value='', readonly).output.maxgui
        
      #matrix-demo.gui-group
        h3 [Matrix]
        div
          input(type='checkbox')#00
          input(type='checkbox')#01
          input(type='checkbox')#02
          input(type='checkbox')#03
          input(type='checkbox')#04
          input(type='checkbox')#11
          input(type='checkbox')#12
          input(type='checkbox')#13
          input(type='checkbox')#14
          input(type='checkbox')#15
        div address:
          input(type='text', name='addr', value='/node/matrix').addr.maxgui
        div value:
          input(type='text', value='0', readonly).numbox.maxgui
        div output:
          input(type='text', value='', readonly).output.maxgui
      
    .gui.reveive
      h2 Receive
      #slider-demo.gui-group
        h3 [Send]
        input(type='range', min='0', max='127', value='0', disabled).slider.maxgui
        div address:
          input(type='text', name='addr', value='/node/slider', readonly).addr.maxgui
        div value:
          input(type='text', value='0', readonly).numbox.maxgui
        div output:
          input(type='text', value='', readonly).output.maxgui
        
      #matrix-demo.gui-group
        h3 [Matrix]
        div
          input(type='checkbox', disabled)#00
          input(type='checkbox', disabled)#01
          input(type='checkbox', disabled)#02
          input(type='checkbox', disabled)#03
          input(type='checkbox', disabled)#04
          input(type='checkbox', disabled)#11
          input(type='checkbox', disabled)#12
          input(type='checkbox', disabled)#13
          input(type='checkbox', disabled)#14
          input(type='checkbox', disabled)#15
        div address:
          input(type='text', name='addr', value='/node/matrix', readonly).addr.maxgui
        div value:
          input(type='text', value='0', readonly).numbox.maxgui
        div output:
          input(type='text', value='', readonly).output.maxgui